<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootswatch lumen -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.2/dist/lumen/bootstrap.min.css"
    integrity="sha256-2zyNvUTezoJ3p/Kd78Ia/B5+UdtRtlQeRJSmFlHEn6Q="
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="../stylesheets/stylehome.css" />
  <title>Welcome to MOOD</title>
</head>
