<!DOCTYPE html>
<html>
<%- include('../partials/header', {title}); %>
<body>
    <div>
        <div class=" col-lg-12 py-3 px-3  " data-quiz-id="uuidv4-xxxxx" data-id="id" data-composer-id="uuidv4-xxxxx"
            data-question-order="questionOrder" style="align-items: center;">
            <p data-tag="text" class="qq border rounded  form-control-lg d-lg-flex "
                style="margin-left: 10px; text-align: center; font-weight: 600; font-size:x-large;"> Lorem ipsum dolor
                sit amet consectetur,
                adipisicing elit. Dolorum aut explicabo eligendi nam itaque voluptatum
                consectetur exercitationem, consequatur aliquid facere ea!
                Magnam amet fuga magni exercitationem deserunt at distinctio ut.
            </p>
        </div>
    </div>
    <section class="ana">
        <ul class="row qinfo col-12" style="margin-top: 25px" type="none">
            <div class=" col-3 px-0 countdown">
                <svg width="125" height="125">
                    <circle cx="62.5" cy="62.5" r="50" fill="rgb(39, 1, 100)" />
                    <text id="time" x="50%" y="50%" text-anchor="middle" fill="white" font-size="50px"
                        font-family="Arial" dy=".3em"></text>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class=" col-6 border-success border-1 imgarea">
                <img src="/images/img.png" alt="" data-tag="imgURL" class="img-fluid ">
            </div>
            <div class="col-3 ">
                <button class="btn btn-primary text-uppercase bg-primary bg-gradient border rounded shadow  "
                    id="btn-settings" type="button" style="margin-left: 40%">
                    Move
                </button>
            </div>
        </ul>
        <!-- Answer Choices -->
        <ul class="row" style="margin-top: 30px;" data-tag="Answers">
            <li class="col-lg-6 row py-2 " data-question-id="" data-id="">
                <div class="col-12 align-self-center ">
                    <div class=" input-group px-2">
                        <i> <img src="/images/kirmizi.png" alt=""></i>
                        <input data-tag="text" class=" form-control form-control-lg" type="text" value="Answer-1"
                            readonly
                            style="background-color: #eb1c1c; color: white; font-weight: 500; border: none; font-family:Arial, Helvetica, sans-serif">
                    </div>
                </div>
            </li>
            <li class="col-lg-6 row  py-2 " data-question-id="" data-id="">
                <div class="col-12 align-self-center ">
                    <div class="input-group  px-2">
                        <i><img src="/images/mavi.png" alt=""></i>
                        <input data-tag="text" class=" form-control form-control-lg" type="text" value="Answer-2"
                            readonly
                            style="background-color: rgb(3, 81, 182); color: white; font-weight: 500; border: none; font-family:Arial, Helvetica, sans-serif">
                    </div>
                </div>
            </li>
            <li class="col-lg-6 row py-2 " data-question-id="" data-id="">
                <div class="col-12 align-self-center">
                    <div class=" input-group px-2 ">
                        <i><img src="/images/sari.png" alt=""></i>
                        <input data-tag="text" class=" form-control form-control-lg" type="text" value="Answer-3"
                            readonly
                            style="background-color: #eec71a;; color: white; font-weight: 500; border: none; font-family:Arial, Helvetica, sans-serif">
                    </div>
                </div>
            </li>
            <li class="col-lg-6 row py-2  ">
                <div class="col-12 align-self-center">
                    <div class=" input-group px-2">
                        <i><img src="/images/yesil.png" alt=""></i>
                        <input data-tag="text" class=" form-control form-control-lg" type="text" value="Answer-4"
                            readonly
                            style="background-color: #228b03; color: white; font-weight: 500; border: none; font-family:Arial, Helvetica, sans-serif">
                    </div>
                </div>
                </div>
            </li>
        </ul>
        <ul class="row" style="margin-top: 50px;" data-tag="truefalse">
            <li class="col-6  row  ">
                <div class="col-12 align-self-center">
                    <div class=" input-group px-2">
                        <i><img src="/images/yesil.png" alt=""></i>
                        <input data-tag="text" class=" form-control form-control-lg" type="text" value="True" readonly
                            style="background-color: #228b03; color: white; font-weight: 500; border: none;">
                    </div>
                </div>
            </li>
            <li class="col-6 row " data-question-id="" data-id="">
                <div class="col-12 align-self-center ">
                    <div class=" input-group px-2">
                        <i> <img src="/images/kirmizi.png" alt=""></i>
                        <input data-tag="text" class=" form-control form-control-lg" type="text" value="False" readonly
                            style="background-color: #eb1c1c; color: white; font-weight: 500; border: none;">
                    </div>
                </div>
            </li>
        </ul>
    </section>

<!-- OLD STUFF -->
<!-- OLD STUFF -->

    <h4 id="questionNum">Question 1 / x</h4>
    <h4 id="playersAnswered">Players Answered: 0 / x</h4>
    <h3 id="timerText">Time Left:<span id="num"> 20</span></h3>

    <div class="square" id="square1"></div>
    <div class="square" id="square2"></div>
    <div class="square" id="square3"></div>
    <div class="square" id="square4"></div>

    <h2 id="question">Question</h2>
    <h3 id="answer1">Answer</h3>
    <br>
    <h3 id="answer2">Answer</h3>
    <br>
    <h3 id="answer3">Answer</h3>
    <br>
    <h3 id="answer4">Answer</h3>

    <br>
    <button onclick="nextQuestion()" id="nextQButton">Next Question</button>

    <h2 id="winnerTitle">Top 5 Players</h4>
        <h3 id="winner1">1.</h3>
        <h3 id="winner2">2.</h3>
        <h3 id="winner3">3.</h3>
        <h3 id="winner4">4.</h3>
        <h3 id="winner5">5.</h3>

        <%- include('../partials/footer') %>

<script>
    function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    setInterval(function () {
       
        seconds = parseInt(timer );

        display.textContent = seconds;

        if (--timer <= 0) {
            timer=0
        return;
        }
    }, 1000);
}
window.onload = function () {
    var settime = 60 ,
        display = document.querySelector('#time');
    startTimer(settime, display);
};

/* OLD STUFF */
/* OLD STUFF */

            var socket = io();

            const urlParams = new URLSearchParams(window.location.search);

            const params = {
                id: urlParams.get("id"),

            }

            var timer;

            var time = 20;
            console.log(params)
            //When host connects to server
            socket.on('connect', function () {

                //Tell server that it is host connection from game view
                socket.emit('host-join-game', params);
            });

            // socket.on('noGameFound', function(){
            //    window.location.href = '../../';//Redirect user to 'join game' page
            // });

            socket.on('gameQuestion', function (data) {
                console.log("xx", data)
                document.getElementById('question').innerHTML = data.question.text;
                if (data.count == 2) {
                    document.getElementById('answer1').innerHTML = data.rows[0].text;
                    document.getElementById('answer2').innerHTML = data.rows[1].text;
                    document.getElementById('answer3').innerHTML = "null"
                    document.getElementById('answer4').innerHTML = "null"
                }
                if (data.count == 4) {
                    document.getElementById('answer1').innerHTML = data.rows[0].text;
                    document.getElementById('answer2').innerHTML = data.rows[1].text;
                    document.getElementById('answer3').innerHTML = data.rows[2].text;
                    document.getElementById('answer4').innerHTML = data.rows[3].text;
                }

                var correctAnswer = data.correct;
                document.getElementById('playersAnswered').innerHTML = "Players Answered 0 / " + data
                    .playersInGame;
                updateTimer();
            });

            socket.on('updatePlayersAnswered', function (data) {
                document.getElementById('playersAnswered').innerHTML = "Players Answered " + data
                    .playersAnswered +
                    " / " + data.playersInGame;
            });

            socket.on('questionOver', function (playerData, correct) {
                console.log("45051", playerData, correct)
                clearInterval(timer);
                var answer1 = 0;
                var answer2 = 0;
                var answer3 = 0;
                var answer4 = 0;
                var total = 0;
                //Hide elements on page
                document.getElementById('playersAnswered').style.display = "none";
                document.getElementById('timerText').style.display = "none";

                //Shows user correct answer with effects on elements
                if (correct[0].answerOrder == 1) {
                    document.getElementById('answer2').style.filter = "grayscale(80%)";
                    document.getElementById('answer3').style.filter = "grayscale(80%)";
                    document.getElementById('answer4').style.filter = "grayscale(80%)";
                    var current = document.getElementById('answer1').innerHTML;
                    document.getElementById('answer1').innerHTML = "&#10004" + " " + current;
                } else if (correct[0].answerOrder == 2) {
                    document.getElementById('answer1').style.filter = "grayscale(80%)";
                    document.getElementById('answer3').style.filter = "grayscale(80%)";
                    document.getElementById('answer4').style.filter = "grayscale(80%)";
                    var current = document.getElementById('answer2').innerHTML;
                    document.getElementById('answer2').innerHTML = "&#10004" + " " + current;
                } else if (correct[0].answerOrder == 3) {
                    document.getElementById('answer1').style.filter = "grayscale(80%)";
                    document.getElementById('answer2').style.filter = "grayscale(80%)";
                    document.getElementById('answer4').style.filter = "grayscale(80%)";
                    var current = document.getElementById('answer3').innerHTML;
                    document.getElementById('answer3').innerHTML = "&#10004" + " " + current;
                } else if (correct[0].answerOrder == 4) {
                    document.getElementById('answer1').style.filter = "grayscale(80%)";
                    document.getElementById('answer2').style.filter = "grayscale(80%)";
                    document.getElementById('answer3').style.filter = "grayscale(80%)";
                    var current = document.getElementById('answer4').innerHTML;
                    document.getElementById('answer4').innerHTML = "&#10004" + " " + current;
                }

                for (var i = 0; i < playerData.length; i++) {
                    if (playerData[i].values.correctAnswerCount == 1) {
                        answer1 += 1;
                    } else if (playerData[i].values.correctAnswerCount == 2) {
                        answer2 += 1;
                    } else if (playerData[i].values.correctAnswerCount == 3) {
                        answer3 += 1;
                    } else if (playerData[i].values.correctAnswerCount == 4) {
                        answer4 += 1;
                    }
                    total += 1;
                }

                //Gets values for graph
                answer1 = answer1 / total * 100;
                answer2 = answer2 / total * 100;
                answer3 = answer3 / total * 100;
                answer4 = answer4 / total * 100;

                document.getElementById('square1').style.display = "inline-block";
                document.getElementById('square2').style.display = "inline-block";
                document.getElementById('square3').style.display = "inline-block";
                document.getElementById('square4').style.display = "inline-block";

                document.getElementById('square1').style.height = answer1 + "px";
                document.getElementById('square2').style.height = answer2 + "px";
                document.getElementById('square3').style.height = answer3 + "px";
                document.getElementById('square4').style.height = answer4 + "px";

                document.getElementById('nextQButton').style.display = "block";

            });

            function nextQuestion() {
                document.getElementById('nextQButton').style.display = "none";
                document.getElementById('square1').style.display = "none";
                document.getElementById('square2').style.display = "none";
                document.getElementById('square3').style.display = "none";
                document.getElementById('square4').style.display = "none";

                document.getElementById('answer1').style.filter = "none";
                document.getElementById('answer2').style.filter = "none";
                document.getElementById('answer3').style.filter = "none";
                document.getElementById('answer4').style.filter = "none";

                document.getElementById('playersAnswered').style.display = "block";
                document.getElementById('timerText').style.display = "block";
                document.getElementById('num').innerHTML = " 20";
                socket.emit('nextQuestion'); //Tell server to start new question
            }

            function updateTimer() {
                time = 20;
                timer = setInterval(function () {
                    time -= 1;
                    document.getElementById('num').textContent = " " + time;
                    if (time == 0) {
                        socket.emit('timeUp');
                    }
                }, 1000);
            }
            socket.on('GameOver', function (data) {
                console.log(data)
                document.getElementById('nextQButton').style.display = "none";
                document.getElementById('square1').style.display = "none";
                document.getElementById('square2').style.display = "none";
                document.getElementById('square3').style.display = "none";
                document.getElementById('square4').style.display = "none";

                document.getElementById('answer1').style.display = "none";
                document.getElementById('answer2').style.display = "none";
                document.getElementById('answer3').style.display = "none";
                document.getElementById('answer4').style.display = "none";
                document.getElementById('timerText').innerHTML = "";
                document.getElementById('question').innerHTML = "GAME OVER";
                document.getElementById('playersAnswered').innerHTML = "";

                document.getElementById('winner1').style.display = "block";
                document.getElementById('winner2').style.display = "block";
                document.getElementById('winner3').style.display = "block";
                document.getElementById('winner4').style.display = "block";
                document.getElementById('winner5').style.display = "block";
                document.getElementById('winnerTitle').style.display = "block";

                document.getElementById('winner1').innerHTML = "1. " + data[0].name;
                document.getElementById('winner2').innerHTML = "2. " + data[1].name;
                document.getElementById('winner3').innerHTML = "3. " + data[2].name;
                document.getElementById('winner4').innerHTML = "4. " + data[3].name;
                document.getElementById('winner5').innerHTML = "5. " + data[4].name;
            });
            socket.on('getTime', function (player) {
                socket.emit('time', {
                    player: player,
                    time: time
                });
            });
</script>
</body>
</html>
