<!DOCTYPE html>
<html>
  <%- include('../partials/header', {title}); %>
  <body>
    <h1><%= title %></h1>
    <h2><%= userName %></h2>
    <%- include('../partials/footer') %>
    <script src="../javascripts/host.js"></script>
  </body>
</html>
