<!DOCTYPE html>
<html>
<%- include('../partials/headerlobby', {title}); %>

<body>

  <div class=" container-fluid colorless  ">
    <div class="row d-flex ">
      <div class=" col-2 ">
      </div>
      <div class="col-8">
        <h2 id="title">Join this game using the Game Pin: </h2>
        <h1 id="gamePinText" data-tag="PIN"></h1>
      </div>
      <div class="col-2 player">
        <div class="pbuttons">
          <div class="playpause-track"><i class="fas fa-play-circle fa-2x"></i></div>
        </div>
        <div class="slider_container">
          <button class="sound-icon" onclick=showDiv()><i class="fas fa-volume-up " data-lobby-Music-id=""></i></button>
          <input id="sound" type="range" min="0" max="100" value="50" class="volume_slider" onchange="setVolume()">
        </div>
      </div>
    </div>
  </div>
  <div id="gokyuzu" style="height: 84vh;">
    <section class=" row container-fluid justify-content-center">
      <div class="colorful">
        <div class=" row d-flex justify-content-center " readonly id='players'>
          <div class="col-2">
            <button id="cancelgame" class="  btn btn-secondary ">Cancel Game</button>
          </div>
          <div class="col-8 d-flex justify-content-center">
            <div>
              <span class="pheader">PLAYERS</span>
              <ul id="playersJoined" class="row" type="none">
<%#               <!--  <li><span class="badge badge-light py-3 px-3" data-tag="nickName">PLAYER1</span></li>
                <li><span class="badge badge-light py-3 px-3" data-tag="nickName">PLAYER2</span></li> -->  %>
              </ul>
            </div>
          </div>
          <div class="col-2">
            <button id='startgame' class="btn btn-secondary" data-tag="QuizID">Start Game</button>
          </div>
        </div>
      </div>
  </div>
  </section>

  <%- include('../partials/footer') %>
  <script src="/javascripts/lobbyApp.js"></script>

  <script>
    $(document).ready(function () {
      let playpause_btn = document.querySelector(".playpause-track");
      let volume_slider = document.querySelector(".volume_slider");
      // let track_index = 0;
      let isPlaying = false;
      // Create new audio element
      let curr_track = document.createElement('audio');
      $('div.playpause-track').on('click', playpauseTrack);
      $('button.sound-icon').on('click', showDiv);
      $('input#sound').on('change', setVolume);
      $('button#cancelgame').on('click', endGame);
      $('button#startgame').on('click', startGame);
      curr_track.loop = true;
      curr_track.src = "<%= audio %>" ;
      curr_track.load();
      // Define the tracks that have to be played
      // let track_list = [
      //   {
      //     path: <%"/audio/rise-and-shine.mp3" %>
      //   },

      // ];

      // function loadTrack(track_index) {
      //   curr_track.src = track_list[track_index].path;
      //   curr_track.load();
      // }

      // loadTrack(track_index);

      function playpauseTrack() {
        if (!isPlaying) playTrack();
        else pauseTrack();
      }

      function playTrack() {
        curr_track.play();
        isPlaying = true;
        playpause_btn.innerHTML = '<i class="fa fa-pause-circle fa-2x"></i>';
      }

      function pauseTrack() {
        curr_track.pause();
        isPlaying = false;
        playpause_btn.innerHTML = '<i class="fa fa-play-circle fa-2x"></i>';;
      }

      function setVolume() {
        curr_track.volume = volume_slider.value / 100;
      } <%# /* audio player section end */ %>

      document.getElementById('sound').style.display = "none"

      function showDiv() {
        if (document.getElementById('sound').style.display === "none") {
          document.getElementById('sound').style.display = "block";
        } else {
          document.getElementById('sound').style.display = "none";
        }
      }
      const socket = io({
        transports: ['websocket'],
        upgrade: false
      });
      //var params = jQuery.deparam(window.location.search);
      const urlParams = new URLSearchParams(window.location.search);

      // const params = {
      //   id: urlParams.get('quizId'),
      // };
      const params = {
        id: window.location.href.split("/lobby/")[1]
      };
      //When host connects to server
      socket.on('connect', function () {
        document.getElementById('players').value = '';

        //Tell server that it is host connection
        console.log(params, 'params');
        socket.emit('host-join', params);
      });

      socket.on('showGamePin', function (data) {
        console.log(data, 'id');
        document.getElementById('gamePinText').innerHTML = data.pin;
      });

      //Adds player's name to screen and updates player count
      socket.on('updatePlayerLobby', function (data) {
        // console.log("data!!!!!!!!!!!!", data);
        document.getElementById('players').value = '';
        $('#playersJoined').html('');
        for (var i = 0; i < data.length; i++) {
          $("#playersJoined").prepend(`<li><h2><span class="badge badge-light py-3 px-3" data-tag="nickName">${data[i].name}</span></h2></li>`);
          // console.log(data);
          // document.getElementById('players').value += data[i].name + '\n';
        }
      });

      //Tell server to start game if button is clicked
      function startGame(e) {
        socket.emit('startGame');
      }

      function endGame() {
        window.location.href = '/';
      }

      //When server starts the game
      socket.on('gameStarted', function (id) {
        console.log('Game Started!');
        window.location.href = '/gameblock' + '?id=' + id;
      });

      // socket.on('noGameFound', function () {
      //   window.location.href = '../../'; //Redirect user to 'join game' page
      // });
    });
  </script>
</body>

</html>
