  <%- include('../partials/header', {title}); %>
  <body>
    <h1 id="title">Join a Game</h1>
    <form action="#">
      <div class="form-field">
        <label id="label">Game Pin</label>
        <input id="pin" type="number" name="pin" autofocus />
      </div>
      <br />
      <div class="d-grid gap-2 form-field">
        <button id="submit" class="btn btn-lg btn-primary" type="submit">Enter</button>
      </div>
    </form>
    <%- include('../partials/footer') %>
  </body>
  <script>
$( "form" ).submit(function( event ) {
  const formData = new FormData(event.target);
  const data = new URLSearchParams(formData.entries());
  event.preventDefault();
  if ( data ) {
    alert(data);
    //$.get('/join',data) ;
    socket.emit('player-join', {pin: formData.pin});
    window.location.href = "/join"
    return false;  }

});
  </script>
</html>
