  <%- include('../partials/header', {title}); %>
  <body>
    <h1 id="title">Join a Game</h1>
    <form action="/join/">
      <div class="form-field">
        <label id="label">Game Pin</label>
        <input id="pin" type="number" name="pin" autofocus />
      </div>
      <br />
      <div class="form-field">
        <button id="submit">Enter</button>
      </div>
    </form>
    <%- include('../partials/footer') %>
  </body>
</html>
