  <%- include('../partials/header', {title}); %>
  <body>
    <h1 id="title">Join a Game</h1>
    <form action="#">
      <div class="form-field">
        <label id="label">Game Pin</label>
        <input id="pin" type="number" name="pin" autofocus />
      </div>
      <div class="form-field">
        <label id="label">Nick Name</label>
        <input id="name" type="text" name="name"  />
      </div>
      <br />
      <div class="d-grid gap-2 form-field">
        <button id="submit" class="btn btn-lg btn-primary" type="submit">Enter</button>
      </div>
    </form>
    <%- include('../partials/footer') %>
  </body>
  <script>      const socket = io({ transports: ['websocket'], upgrade: false });

$( "form" ).submit(function( event ) {
  // const formData = new FormData(event.target);
  // const data = new URLSearchParams(formData.entries());
const pin = $("#pin").val()
const name = $("#name").val()
  event.preventDefault();
 
  if ( pin ) {
    
      
    socket.emit('player-join', {pin});
    window.location.href = "/ingame?name="+name+"&pin="+pin
    return false;  }

});
  </script>
</html>
