<!DOCTYPE html>
<html>
  <%- include('../partials/header', {title}); %>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>

    <h1 id="title1">Waiting on host to start game</h1>
    <h3 id="title2">Do you see your name on the screen?</h3>
    <div class="loader"></div>
    <br />
    <%- include('../partials/footer') %>

    <script>
      var socket = io({ transports: ['websocket'], upgrade: false });

      //When player connects to server
      socket.on('connect', function () {
        //var params = jQuery.deparam(window.location.search); //Gets data from url
        const urlParams = new URLSearchParams(window.location.search);

        const params = {
          name: urlParams.get('name'),
          pin: urlParams.get('pin'),
        };
        
        //Tell server that it is player connection
        socket.emit('player-join', params);
      });

      //Boot player back to join screen if game pin has no match
      socket.on('noGameFound', function () {
       // window.location.href = '../';
      });
      //If the host disconnects, then the player is booted to main screen
      socket.on('hostDisconnect', function () {
        window.location.href = '../';
      });

      //When the host clicks start game, the player screen changes
      socket.on('gameStartedPlayer', function () {
        window.location.href = '/player/game/' + '?id=' + socket.id;
      });
    </script>
  </body>
</html>
