<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1 id="title"><%= title %></h1>

    <form action="/ingame/">
      <div class="form-field">
        <label id="label">Nickname</label>
        <input id="name" type="text" name="name" autofocus />
      </div>
      <br />

      <div class="d-grid gap-2 form-field">
        <button id="submit" class="btn btn-lg btn-primary" type="button">Join</button>
      </div>
    </form>
  </body>
</html>
