<!DOCTYPE html>
<html>
  <%- include('../partials/header', {title}); %>

  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <style>
    html,
    body {
      height: 90%;
      padding: 0;
      margin: 0;
    }
    button {
      width: 50%;
      height: 50%;
      float: left;
    }
    #answer1 {
      background-color: #4caf50;
    }
    #answer2 {
      background-color: #f94a1e;
    }
    #answer3 {
      background-color: #3399ff;
    }
    #answer4 {
      background-color: #ff9933;
    }
  
    #buttons {
      text-align: center;
    }
    #nameText {
      font-family: "Raleway", sans-serif;
      padding: 0px 10px;
    }
    #scoreText {
      font-family: "Raleway", sans-serif;
      padding: 0px 10px;
    }
    #message {
      font-family: "Raleway", sans-serif;
      text-align: center;
      font-size: 35px;
    }
  </style>
  <body>
    <h1><%= title %></h1>
    <div class="container"><div id="stats">
      <h4 id="nameText">Name:</h4>
      <h4 id="scoreText">Score:</h4>
      <h4 id="rankText"></h4>
    </div>
    <h2 id="message"></h2>
    <button onclick="answerSubmitted(1)" id="answer1" class="button">1</button>
    <button onclick="answerSubmitted(2)" id="answer2" class="button">2</button>
    <br />
    <button onclick="answerSubmitted(3)" id="answer3" class="button">3</button>
    <button onclick="answerSubmitted(4)" id="answer4" class="button">4</button></div>
    <%- include('../partials/footer') %>

    <script>
      var socket = io();
      var playerAnswered = false;
      var correct = false;
      var name;
      var score = 0;
    
      var urlParams = new URLSearchParams(window.location.search);
    
      const params = {
        id: urlParams.get("id"),
      };
      console.log(params)
    
      socket.on("connect", function () {
        //Tell server that it is host connection from game view
        socket.emit("player-join-game", params);
    
        document.getElementById("answer1").style.visibility = "visible";
        document.getElementById("answer2").style.visibility = "visible";
        document.getElementById("answer3").style.visibility = "visible";
        document.getElementById("answer4").style.visibility = "visible";
      });
    
      // socket.on("noGameFound", function () {
      //   window.location.href = "../../"; //Redirect user to 'join game' page
      // });
    
      function answerSubmitted(num) {
        if (playerAnswered == false) {
          playerAnswered = true;
    
          socket.emit("playerAnswer", num); //Sends player answer to server
    
          //Hiding buttons from user
          document.getElementById("answer1").style.visibility = "hidden";
          document.getElementById("answer2").style.visibility = "hidden";
          document.getElementById("answer3").style.visibility = "hidden";
          document.getElementById("answer4").style.visibility = "hidden";
          document.getElementById("message").style.display = "block";
          document.getElementById("message").innerHTML =
            "Answer Submitted! Waiting on other players...";
        }
      }
    
      //Get results on last question
      socket.on("answerResult", function (data) {
        
        console.log("asnwer",data)
        if (data == true) {
          correct = true;
        }
      });
    
      socket.on("questionOver", function (data) {
        console.log("questionOver",data)
        if (correct == true) {
          document.body.style.backgroundColor = "#4CAF50";
          document.getElementById("message").style.display = "block";
          document.getElementById("message").innerHTML = "Correct!";
        } else {
          document.body.style.backgroundColor = "#f94a1e";
          document.getElementById("message").style.display = "block";
          document.getElementById("message").innerHTML = "Incorrect!";
        }
        document.getElementById("answer1").style.visibility = "hidden";
        document.getElementById("answer2").style.visibility = "hidden";
        document.getElementById("answer3").style.visibility = "hidden";
        document.getElementById("answer4").style.visibility = "hidden";
        socket.emit("getScore");
      });
    
      socket.on("newScore", function (data) {
        document.getElementById("scoreText").innerHTML = "Score: " + data;
      });
    
      socket.on("nextQuestionPlayer", function () {
        correct = false;
        playerAnswered = false;
    
        document.getElementById("answer1").style.visibility = "visible";
        document.getElementById("answer2").style.visibility = "visible";
        document.getElementById("answer3").style.visibility = "visible";
        document.getElementById("answer4").style.visibility = "visible";
        document.getElementById("message").style.display = "none";
        document.body.style.backgroundColor = "white";
      });
    
      socket.on("hostDisconnect", function () {
        window.location.href = "../../";
      });
    
      socket.on("playerGameData", function (data) {
        for (var i = 0; i < data.length; i++) {
          if (data[i].playerId == socket.id) {
            document.getElementById("nameText").innerHTML = "Name: " + data[i].name;
            document.getElementById("scoreText").innerHTML =
              "Score: " + data[i].gameData.score;
          }
        }
      });
    
      socket.on("GameOver", function () {
        document.body.style.backgroundColor = "#FFFFFF";
        document.getElementById("answer1").style.visibility = "hidden";
        document.getElementById("answer2").style.visibility = "hidden";
        document.getElementById("answer3").style.visibility = "hidden";
        document.getElementById("answer4").style.visibility = "hidden";
        document.getElementById("message").style.display = "block";
        document.getElementById("message").innerHTML = "GAME OVER";
      });
    </script>

  </body>
</html>
